.banner {
    background-color: $indigo;
    display: flex;
    justify-content: center;
    padding: 18px;
    border-radius: 15px;
    .banner_img {
        max-width: 600px;
        width: 100%;
    }
}