@import './variables';

body {
    font-family: fantasy;
    background-color: $jet-black;
    color: white;
    padding: 0;
    margin: 0;
}

label {
    color: black;
}

.margin-top_8 {
    margin-top: 8px;
    &--sm{
        @media (max-width: 767px){
            margin-top: 8px;
        }
    }
}
.margin-top_16 {
    margin-top: 16px;
}
.margin-top_24 {
    margin-top: 24px;
}
.margin-top_32 {
    margin-top: 32px;
}
.margin-top_40 {
    margin-top: 40px;
}
.margin-top_48 {
    margin-top: 48px;
}
.margin-bottom_8 {
    margin-bottom: 8px;
}
.margin-bottom_16 {
    margin-bottom: 16px;
}
.margin-bottom_24 {
    margin-bottom: 24px;
}
.margin-bottom_32 {
    margin-bottom: 32px;
}
.margin-bottom_40 {
    margin-bottom: 40px;
}
.margin-bottom_48 {
    margin-bottom: 48px;
}