.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 12px;
}

.stat input {
    color: white;
    background-color: transparent;
    border: none;
    width: 15px;
}
.stat input:focus {
    background-color: transparent;
    border: none;
}

.statNumber {
    font-size: 10px;
}

#insp {
    cursor: pointer;
}