.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 3em;
}

.statNumber {
    font-size: 10px;
}