.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat img {
    max-width: 3em;
}

.stat input {
    color: white;
    background-color: transparent;
    border: none;
    width: 2em;
}

.stat input:focus {
    background-color: transparent;
    border: none;
}

#insp {
    cursor: pointer;
}

#dice-box {
    box-sizing: border-box;
}

canvas {
    width: 100%;
    height: 100%;
    z-index: 2;
}

#sign {
    color: black;
    position: relative;
    z-index: 2;
    background-image: url(../rsc/wooden-sign-background-png.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#rollem:focus {
    border: none;
}